
body{
    margin: 0;
}

.cryptoIconBox{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* gap: 3px; */
    border:solid;
    width: max-content;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 40px;
    height: min-content;
    border-color: white;
    margin: 5px;

    border-width: 1px;
}

.btnstyle{
    background-color:transparent;
    border: 0px;
}

.cryptoIconBox:hover{
    background-color: lightgreen;
    color: black;
}

.cryptoContainer{
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    width: fit-content;
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 2.5em;
   /* position: sticky;
   top: 100px;
   z-index: 1000; */
}

