.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(60, 135, 14, 0.1);
    background-color: transparent;
    text-align: center;
    border-color: lightgreen;
    border-top-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 6px;
    border-radius: 25px;
    width: 200px; 
  height: 150px;
  border-radius: 20px 20px 20px 20px; 
  background: radial-gradient(circle at bottom left, rgba(53, 125, 53, 0.2), rgba(0, 0, 0, 0));
  box-shadow: 0px 4px 6px rgba(230, 26, 26, 0.1);
  color: white; 
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  }
  
  .heading{
    font-size: 20px;
    color: white;
    font-family: roboto;
    font-weight:lighter;
    
  }
  
  .value {
    font-size: 40px;
    font-weight: bold;
    color: lightgreen; 
    margin: 0px;
  }
  
  .cardContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    margin-left: 6rem;
    /* position:sticky;
    top: 210px; */
  }