.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 10px;
    padding-top: 12em;
    padding-left: 100px;
    /* padding-right: 200px; */
    padding-bottom: 15px;
    border-bottom:0.1mm ridge rgba(144, 238, 144, 0.1) ;
    padding-top:20px ;
    /* position:fixed;
    top: 0; 
    left: 0; 
    z-index: 1000;
    width: 80%; */
  }
  
  .navbar__left {
    display: flex;
    align-items: center;
  }
  
  .navbar__logo {
    font-size: 24px;
    font-weight: bold;
    padding-top: 1em;
    margin-left: -2em;
  }
  
  .navbar__right {
    display: flex;
    padding-top: 1em;
  }
  
  .navbar__button {
    background-color:black;
    border: none;
    color: white;
    margin-right: 10px;
    cursor: pointer;
    font-size: 1.5rem;
  }
  
  .navbar__button:hover {
    color: lightgreen;
  }
  .navbar__button.selected {
    background-color: white;
    width: fit-content;
    color: #000;
  }