
.drawerPaper {
    width: 240px; 
    color: white;
    transition: width 0.3s;
  }
  
  .menu-item:hover .menu-icon {
    transform: scale(1.1); 
    color: lightgreen !important;
  }
  
  .menu-item:hover .menu-text {
    color: lightgreen ;
    
  }
  
  .menu-icon {
    color: white;
    transition: transform 0.2s, color 0.2s; 
  }
  
  .menu-text {
    color: white;
    transition: color 0.2s; 
  }
  
  .css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
    background-color: black !important;
    color: white;
  }

  .css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
    color: white !important;
  }

  .selected-item {
    background-color: green; 
    
  }

  .logo-container{
    display: flex;
    gap: 1rem;
    margin-top: 2em;
    justify-content: center;
  }

  .icon-box{
    display:flex;
    align-items:center;
    gap:1rem;
    align-items: center;
    background-color: rgba(46, 35, 35, 0.508);
    border-radius: 90px;
    margin-top: 1em;
    justify-content: center;
    height: 2rem;

    
  }

  .sidebar{
    background-color: black;
    color: white;
  }